<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<h1>Battle!</h1>
<h2>Sign in to play.</h2>
<body>
  <form action="/names" method="post">
    <label for="player_1_name">
      Player 1 name
      <input type="text" name="player_1_name">
    </label>
    <label for="player_2_name">
      Player 2 name
      <input type="text" name="player_2_name">
    </label>
    <input type="submit" value="Submit">
  </form>
</body>
</html>